html,body{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.nav{
    height: 100px;
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0px;
    z-index: 2000;
    display: flex;
}


.maintop-nav{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    z-index: 2000;
}
/**  left Nav Menu items **/
.lefnav-menu {

    width: 25%;
    display: flex;
    align-items: center;
    padding: 20px;
    height: 58px;
    
}
.leftitemsnav{
    display: flex;
    border: 1px solid #dadada;
    border-radius: 10px;
    padding: 10px 20px;
    gap: 50px;
    background-color: white;
    margin: 10px;
}
hr {
    border: 1px solid darkgrey;
}
.home{
    font-style: normal;
    font-weight: bold;
}
.mainbar > i {
    width: 30px;
    height: 20px;
}
.youtubeicon > img{
    width: 150px;
    /* height: 90px; */
    padding: 10px;
}

.mainnav-search{
    width: 50%;
    display: flex;
    padding: 30px;
    align-items: center;
}
.mainnav-search > input{
    width: 80%;
    border: 2px solid darkgrey;
    border-radius: 50px 0 0 50px;
    padding: 10px;
}
.click-search {
    height: 32px;
    padding: 3px 15px;
    border: 1px solid darkgray;
    border-radius: 0 50px 50px 0;
    border-left: 0px;
    display: flex;
    align-items: center;
}
.microphone{
    margin-left: 16px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 50px;
}

.rightnav-menu{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center
    
}

.golive,
.notifyme,
.youraccount {
    margin-left: 25px;
    border: 1px solid #bdb4b4;
    background-color: #dadada;
    border-radius: 50px;
    padding: 2px;
}


main {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
 
}

main > .left-nav{
    top:100px;
    width: 20%;
    height: calc(100% - 100px);
    background-color: whitesmoke;
    position: fixed;
    overflow-y:scroll;
    overflow-x: hidden;
    
}

main > .right-nav{
    width: 80%;
    height: calc(100% - 100px);
    background-color: white;
    left:20%;
    top:100px;
    position: relative;
   
}

main > .right-nav > .main-nav-bar{
    width: 100%;
    height: 100px;
    background-color: rgb(111 111 43);
    left: 20%;
    position:fixed;
    display: flex;
    z-index: 1000;
    
}
.all{
    display: flex;
    margin: 26px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 10px;
    align-items: center;
    color: white;
    font-style: normal;
    font-weight: bold;
}
.main-nav-allitems{
    display: flex;
    margin: 26px;
    padding: 10px;
    border: 1px solid #dadada;
    border-radius: 10px;
    align-items: center;
    background-color: white;
    font-style: normal;
    font-weight: bold; 
}
.main-content{
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    top: 1px;
    margin-top: 100px;
    padding-top: 30px;
    gap: 30px;
    overflow-y: scroll;
   
}

.video-card{
    height: 400px;
    background-color: white;
}
.videoimg{
    object-fit: cover;
    display: flex;
    height:50%;

}
.videoimg > img {
    /* width: 100%;
    height: 100%; */

}
.card-informa{
    display: flex;
    /* height: 50%; */
    background-color: white;
}
.videoname {
    line-height: 25px;
    font-size: larger;
    font-weight: 700;
    font-style: normal;
    width: 250px;
}

.videoname > span {
    font-size: 1.3rem;
    font-weight: 600;
    font-style: revert;
}
.channelimg{
    width: 30px;
    height: 30px;
    padding: 11px;
    /* background-color: blueviolet; */
    border: 1px solid white;
    /* border-radius: 18px; */
}

.channelimg > img {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 5px;
    right: 5px;
    border-radius: 21px;
}

.desc{
    gap: 2px;
    display: flex;
    flex-direction: column;
}


.channelname{
    font-style: normal;
    font-size: x-large;
    font-weight: 700;
}

.channelname > span {
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;

}
.channelviewers{
    ont-size: x-large;
    font-weight: 700;
    font-style: normal;
}

.channelviewers > span{

}

@media  (min-width:400px) and (max-width:900px) {

    .main-content{
        background-color: olivedrab;
    }
    
    .main-content{

        grid-template-columns: auto;
    }
   main > .right-nav > .main-nav-bar{

    /* flex-wrap: wrap; */

     
   }

   .leftitemsnav {
    display: none;
   }

   .youtubeicon > img {
    display: none;

}


.mainbar > i {
    display: none;
}
.mainnav-search > input{
   width: 100%;
}
.rightnav-menu{
    display: none;
}
}